# Import libraries

In [1]:
import pandas as pd

# Read data

In [2]:
connections = pd.read_csv('data/081/connections.csv', on_bad_lines='warn', delimiter='\t')
devices = pd.read_csv('data/081/devices.csv', on_bad_lines='warn', delimiter='\t')
processes = pd.read_csv('data/081/processes.csv', on_bad_lines='warn', delimiter='\t')
profiles = pd.read_csv('data/081/profiles.csv', on_bad_lines='warn', delimiter='\t')

# Solution

In [3]:
connections.info()
connections.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15162 entries, 0 to 15161
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ts                 15162 non-null  object
 1   imei               15162 non-null  int64
 2   mwra               15162 non-null  float64
 3   c.android.youtube  15162 non-null  float64
 4   c.android.chrome   15162 non-null  float64
 5   c.android.gm       15162 non-null  float64
 6   c.dogalize         15162 non-null  float64
 7   c.katana           15162 non-null  float64
 8   c.UCMobile.x86     15162 non-null  float64
 9   c.updateassist     15162 non-null  float64
 10  c.android.vending  15162 non-null  float64
 11  c.UCMobile.intl    15162 non-null  float64
 12  c.raider           15162 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.5+ MB

,imei,mwra,c.android.youtube,c.android.chrome,c.android.gm,c.dogalize,c.katana,c.UCMobile.x86,c.updateassist,c.android.vending,c.UCMobile.intl,c.raider
count,1.516200e+04,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000
mean,3.923871e+18,0.626698,13.119660,11.947438,11.949905,12.500060,12.484151,50.323781,52.536704,49.469003,50.004304,49.727124
std,3.321549e+18,0.483697,2.605412,2.652434,2.614210,2.637516,2.565811,13.268816,13.034044,28.937254,28.838077,28.698003
min,3.590434e+17,0.000000,4.135800,2.456990,2.399800,2.748560,4.419040,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,11.383815,10.032775,10.093725,10.633720,10.548925,41.401637,43.777812,24.488428,24.978685,25.345785
50%,3.590434e+18,1.000000,13.321610,11.889335,11.886435,12.647560,12.318145,50.090725,52.525540,49.248720,50.390130,49.815600
75%,8.630331e+18,1.000000,14.969463,13.854020,13.824647,14.435635,14.352718,59.297940,61.456370,74.709677,74.982998,74.046170
max,8.630331e+18,1.000000,22.880240,21.208900,22.046630,21.451520,21.651550,100.000000,100.000000,100.000000,100.000000,100.000000

In [4]:
devices.info()
devices.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982 entries, 0 to 2981
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    2982 non-null   float64
 1   longitude   2982 non-null   float64
 2   store_name  2982 non-null   object
 3   code        2980 non-null   object
 4   location    2982 non-null   object
 5   imei        2982 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 139.9+ KB

          latitude    longitude          imei
count  2982.000000  2982.000000  2.982000e+03
mean     28.858931    13.226179  3.821491e+18
std      23.364133    72.452759  3.275767e+18
min     -44.396720  -156.474320  3.590434e+17
25%      14.505377   -50.006390  8.630331e+17
50%      36.533330    10.580820  3.590434e+18
75%      45.790505    73.079458  8.630331e+18
max      68.798330   178.004170  8.630331e+18

In [5]:
processes.info()
processes.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15162 entries, 0 to 15161
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ts                          15162 non-null  object
 1   imei                        15162 non-null  int64
 2   mwra                        15162 non-null  float64
 3   p.android.packageinstaller  15162 non-null  float64
 4   p.android.documentsui       15162 non-null  float64
 5   p.system                    15162 non-null  float64
 6   p.android.externalstorage   15162 non-null  float64
 7   p.android.chrome            15162 non-null  float64
 8   p.android.settings          15162 non-null  float64
 9   p.android.gm                15162 non-null  float64
 10  p.inputmethod.latin         15162 non-null  float64
 11  p.android.vending           15162 non-null  float64
 12  p.process.gapps             15162 non-null  float64
 13  p.notifier                  15162 non-null  float64
 14  p.katana                    15162 non-null  float64
 15  p.google                    15162 non-null  float64
 16  p.android.defcontainer      15162 non-null  float64
 17  p.simulator                 15162 non-null  float64
 18  p.android.gms               15162 non-null  float64
 19  p.dogalize                  15162 non-null  float64
 20  p.gms.persistent            15162 non-null  float64
 21  p.browser.provider          15162 non-null  float64
 22  p.olauncher                 15162 non-null  float64
dtypes: float64(21), int64(1), object(1)
memory usage: 2.7+ MB

,imei,mwra,p.android.packageinstaller,p.android.documentsui,p.system,p.android.externalstorage,p.android.chrome,p.android.settings,p.android.gm,p.inputmethod.latin,...,p.notifier,p.katana,p.google,p.android.defcontainer,p.simulator,p.android.gms,p.dogalize,p.gms.persistent,p.browser.provider,p.olauncher
count,1.516200e+04,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,...,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000,15162.000000
mean,3.923871e+18,0.626698,11.326046,11.848870,13.670559,13.055184,11.881308,14.310053,13.132933,54.037651,...,47.207102,49.681392,49.686647,50.041205,50.289712,50.226288,49.865521,49.877674,49.605885,49.839759
std,3.321549e+18,0.483697,2.209583,2.738104,2.277519,2.675060,2.559545,1.803823,2.624266,13.564650,...,12.849429,28.975010,28.915917,28.941554,28.824253,28.779530,29.036963,28.949208,29.052083,28.868849
min,3.590434e+17,0.000000,3.110500,0.000000,4.550230,2.936650,2.360010,6.172530,3.716390,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.630331e+17,0.000000,9.853388,9.965942,12.253902,11.168423,10.094302,13.155487,11.415978,44.749185,...,38.623005,24.690973,24.440675,24.915435,25.271123,25.606243,24.552067,24.592910,24.234525,24.769848
50%,3.590434e+18,1.000000,11.099845,11.601655,13.846610,13.135550,11.631625,14.318000,13.358530,54.129555,...,47.214555,49.279675,49.627770,50.379485,50.065190,50.386350,49.941625,49.563415,50.072235,49.543865
75%,8.630331e+18,1.000000,12.556738,13.592090,15.252290,14.970375,13.631315,15.469337,14.982325,63.305960,...,55.891710,74.871792,74.791145,74.941405,75.358277,75.183132,75.389985,75.026663,74.791150,74.949430
max,8.630331e+18,1.000000,22.084980,23.338080,22.717330,21.937050,20.892390,22.418190,22.254860,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [6]:
profiles.info()
profiles.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2518 non-null   object
 1   ssn               2518 non-null   object
 2   birthdate         1385 non-null   object
 3   company           2518 non-null   object
 4   current_location  2392 non-null   object
 5   imei              2518 non-null   int64
 6   user_id           2518 non-null   int64
 7   address           2140 non-null   object
 8   username          2518 non-null   object
 9   registration      2518 non-null   object
 10  mail              2518 non-null   object
 11  job               755 non-null    object
dtypes: int64(2), object(10)
memory usage: 236.2+ KB

               imei      user_id
count  2.518000e+03  2518.000000
mean   3.805736e+18  1255.986100
std    3.317665e+18   725.617082
min    3.590434e+17     0.000000
25%    8.630331e+17   629.000000
50%    3.590434e+18  1247.000000
75%    8.630331e+18  1881.500000
max    8.630331e+18  2517.000000

: